.bodycolor{
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}
.clear-all{
    text-decoration: underline;
    color: rgb(56, 155, 188);
    cursor: pointer;
}
.colors{
    width: 12px;
    height:12px;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 1px;
    display: none;
    /* margin-bottom: 16px; */
}

.card:hover .colors{
    display: block;
}